<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages" href="/tabs/messages">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button (click)="logOut()">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>