<ion-content class="ion-text-left">
  <div class="image">
    <ion-icon class="floating-icon share" name="share-social-outline"></ion-icon>
    <ion-icon class="floating-icon heart" name="heart-outline"></ion-icon>
    <img src="../../../assets/img/Artistas/Anaid Monroy/ceramica.png" alt="image" style="margin: 0 auto;">
  </div>
  <h2 class="m-t-1" style="margin: 0 auto; width: 90%;">Titulo</h2>
  <div class="price">
    <div class="head">

    </div>
    <h2>{{ 1850 | currency:'MXN'}}</h2>
  </div>
  <div class="description m-b-1">
    <div class="div m-t-1">
      <ion-icon name="person-outline"></ion-icon>
      <span style="font-weight: bold; margin-left: .5rem;">NOMBRE DEL ARTISTA</span>
    </div>

    <p>Descripción</p>
    <textarea style="width: 100%; height: 15vh; border: none; border-radius: 5px;" maxlength="200" disabled>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quas, nam suscipit numquam doloremque quae animi tempora maiores incidunt minus. Accusamus nesciunt qui exercitationem, perferendis commodi molestias veniam voluptas optio!
    </textarea>

  </div>

  <div class="buttons">
    <ion-button class="m-b-1" expand="block" size="default" style="--background: rgb(252, 233, 125); color: black;">
      Añadir a la Bolsa </ion-button>
    <ion-button expand="block" size="default" color="warning"> Comprar ahora </ion-button>
  </div>

</ion-content>