<!-- <div style="padding-top: 15%;" >
  <ion-searchbar style="width: 95%;margin: 0 auto; margin-bottom: 1rem;" mode="ios"></ion-searchbar>
</div> -->

<div class="btn-link" (click)="login()">
  <span>Eventos</span>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>
<!-- EVENTOS -->
<swiper-container *ngIf="banners.length > 0" slides-per-view="1" pagination="true" navigation="false" space-between="10"
  style="width: 90%; height: 200px; border-radius: 12px; overflow: hidden;">
  <swiper-slide *ngFor="let banner of banners" (click)="login()">
    <div class="banner-slide" [style.backgroundImage]="getSanitizedUrl(banner.image)">
      <div class="banner-text">
        <h2>{{ banner.title }}</h2>
      </div>
    </div>
  </swiper-slide>
</swiper-container>


<div class="btn-link" (click)="login()">
  <span>Establecimientos</span>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>

<!-- Espacios -->
<swiper-container slides-per-view="1" pagination="false" navigation="false" space-between="10"
  style="width: 90%; overflow: hidden;">
  <swiper-slide *ngFor="let banner of banners" (click)="login()">
    <div class="" >
      <img [src]="banner.image2" class="banner-image" style="border-radius: 15px;" />
      <div class="banner-info">
        <p class="categoria">{{ banner.categoria }}</p>
        <h3 class="titulo">{{ banner.titulo }}</h3>
      </div>
    </div>
  </swiper-slide>
</swiper-container>